@import '../../assets/style.scss/colors.scss';

.style-button {
  background-color: #cd2c2e;
  color: $light-color;
  border-radius: 20px;
  padding: 5px 30px;

  &:hover {
    background-color: $success-color;
    color : $dark-color;
  }

}