@import "../../assets/style.scss/colors.scss";

.card {
  border-radius: 15px;
  border: 4px solid $success-color;
  background-color: $primary-color;

  .card-body {
    background-color: $light-color;
    border-radius: 5px;

    .card-title {
      color: $secondary-color;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.card-link:hover {
  opacity: 80%;
  text-decoration: none;
}