@import '../../assets/style.scss/colors.scss';

footer {
  background-color: $dark-color;
  color: $light-color;
  font-size: 12px;

  h4 {
    font-size: 16px;
    color: $success-color;
    font-weight: bold;
  }
  
  .link-footer {
    text-decoration: none;
    color: $light-color;

    &:hover {
      color: $success-color;
      text-decoration: underline;
    }
  }
}


