@import "../../assets/style.scss/colors.scss";

.bg-container {
  border: 5px solid $secondary-color;
  border-radius: 20px;
  background-color: $primary-color;
  color: $light-color;

  h2,
  h3 {
    font-weight: bold !important;
    text-decoration: underline;
  }

  .form-text-color {
    color: $primary-color;
  }
}
