@font-face {
  font-family: Graphik;
  src: url('../font/Graphik-Regular-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Graphik;
  src: url('../font/Graphik-Bold-Trial.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Graphik;
  src: url('../font/Graphik-RegularItalic-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Graphik;
  src: url('../font/Graphik-BoldItalic-Trial.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@import 'colors';

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Graphik', sans-serif;
  background-color: $light-color;
  color: $dark-color;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width : 992px) {
  .body-wrapper {
      margin: 0 120px;

  }
}

.logo {
  height: 24px;
  width: 24px;
  background-color: #82B864;
  margin-right: 10px;
}
