@mixin font-face($font-family, $font-file, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url("../font/#{$font-file}") format("opentype");
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}
@include font-face("Graphik", "Graphik-Regular-Trial.otf", normal, normal);
@include font-face("Graphik", "Graphik-Bold-Trial.otf", bold, normal);
@include font-face(
  "Graphik",
  "Graphik-RegularItalic-Trial.otf",
  normal,
  italic
);

@import "colors";

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Graphik", sans-serif;
  background-color: $light-color;
  color: $dark-color;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  width: 32px;
  height: 32px;
  &-mini {
    width: 24px;
    height: 24px;
  }
  &-custom {
    background-color: #82b864;
    margin-right: 10px;
  }
}

h1 {
  font-weight: bold;

  &.title-style {
    border-radius: 15px;
    background-color: $success-color;
  }
}

a {
  color: $light-color;
  text-decoration: none;
  &:hover {
    color: $success-color;
    text-decoration: underline;
  }
}
